<article>
  <main>
    <%= render partial: 'form', locals: {
                                         table_entry: @table_entry,
                                         table: @table_entry.fetch_table,
                                         table_id: @table_entry.fetch_table.id
                                       } %>
  </main>
</article>