<article>
  <header>
    <h2> <%= "#{ t 'new_masculine'} #{ Vehicle.model_name.human }" %> </h2>
    <%= render 'application/errors', model: @vehicle %>
  </header>
  <main>
    <%= render 'vehicle_form', vehicle: @vehicle %>
</article>